{{ template "layout.html" . }}
{{ define "body" }}
<h2>Pending edits</h2>
<table>
    <tr>
        <th>Page Id</th>
        <th>Approve?</th>
        <th>Summary</th>
        <th>View Diff</th>
    </tr>
    {{ range $_, $v := .Pendings }}
    <tr>
        <td>{{ $v.Pageid }}</td>
        <td>
            {{ if $v.Approved }}
            Approved
            {{ else }}
            <a href="./approve?uid={{ $v.Uid }}">Approve?</a>
            {{ end }}
        </td>
        <td>{{ $v.Summary }}</td>
        <td><a href="./diff?uid={{ $v.Uid }}">View Diff</a></td>
    </tr>
    {{ end }}
</table>
{{ end }}
