{{ template "layout.html" . }}
{{ define "body" }}
<table class="table">
    <tr>
        <th>Host</th>
        <th>Page Name</th>
        <th>Summary</th>
        <th>View Diff</th>
        <th>Approve?</th>
    </tr>
    {{ range $_, $v := .Pendings }}
    <tr>
        <td>{{ $v.Host }}</td>
        <td>{{ $v.Pagename }}</td>
        <td>{{ $v.Summary }}</td>
        <td><a href="/suggestor/diff?uid={{ $v.Uid }}">View Diff</a></td>
        <td>
            {{ if $v.Approved }}
            Approved
            {{ else }}
            <a href="/suggestor/approve?uid={{ $v.Uid }}">Approve?</a>
            {{ end }}
        </td>
    </tr>
    {{ end }}
</table>
{{ end }}
