{{ template "layout.html" . }}
{{ define "body" }}
<table class="table">
    <tr>
        <th>Host</th>
        <th>Page Name</th>
        <th>Summary</th>
        <th>View Diff</th>
        <th>Approve?</th>
    </tr>
    {{ range $_, $v := .Pendings }}
    <tr>
        <td>{{ $v.Host }}</td>
        <td>{{ $v.Pagename }}</td>
        <td>{{ $v.Summary }}</td>
        <td><a href="/suggestor/diff?uid={{ $v.Uid }}">View Diff</a></td>
        <td>
            {{ if equal $v.Approved 0 }}
            <a href="/suggestor/approve?uid={{ $v.Uid }}&approve=1">Approve</a>
            /
            <a href="/suggestor/approve?uid={{ $v.Uid }}&approve=2">Decline</a>
            {{ else }}
                {{ if equal $v.Approved 1 }}Approved{{ else }}Declined{{ end }}
            {{ end }}
        </td>
    </tr>
    {{ end }}
</table>
{{ end }}
